.upload-multi-pics {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;

  @media #{$mobile} {
    justify-content: center;
    margin-top: 0px;
  }

  .main {
    margin-bottom: 16px;
    width: 100%;
    height: auto;
    flex: 0 0 25%;
    padding-bottom: 16px;
   

    @media #{$md-desktop, $small-desktop} {
      flex: 0 0 33%;
    }

    @media #{$tablet-portrait} {
      flex: 0 0 50%;
    }

    @media #{$mobile,$mobile-small} {
      flex: 0 0 100%;
      min-width: 289px;
    }

    // @media #{$mobile} {
    //   flex: 0 0 100%;
    //   // min-width: 289px;
    // }
   
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-right: 8px;
    padding-left: 8px;
    height: auto;

    &-image {
      background-color: #323746;
      display: flex;
      flex-direction: column;

      padding: 0px;
      border: none;
      border-radius: 4px 4px 0px 0px;
      position: relative;

      padding-top: 100%;

      width: 100%;
      height: auto;
      min-height: 283px;

      @media #{$mobile} {

      }
    }

    &-caption {
      height: 64px;
      background-color: #fff;
      border-radius: 0 0 4px 4px;
      // margin-left: 15px;
      //width: 100%;
      width: 100%;
      //padding-top: 4.51%;

      textarea {
        margin-top: 0px;
        outline: none;
        resize: none;
      }
    }

    &-button {
      width: 30px;
      height: 30px;
      background-color: $warm-pink;
      border-radius: 0px 4px 0px 0px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: flex-end;
      z-index: 1;
      position: absolute;
      top: 0;
    }

    .img-container {
      position: absolute;
      max-height: calc(100%);
      max-width: calc(100% - 16px);

      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .progressbar {
        width: 289px;
        padding: 0 17px;

        .progress {
          background-color: #efeef8 !important;
          border-radius: 4px;
        }

        .custom-progressbar {
          border-radius: 4px;
        }
      }
    }

    .img-container:before {
      position: absolute;
      padding-top: 1%;
    }

    img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 100%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .progressbar-container {
      width: 100%;
      justify-content: center;
      display: flex;
      position: absolute;
      z-index: 1;
    }
  }

  .file-uploads {
    label {
      height: 141px !important;
      cursor: pointer;
    }
  }

  .upload-container {
    padding: 0;
    align-self: start !important;
    
    @media #{$mobile} {
      order: -1;
      flex: 0 0 100%;
    }
  }

  .upload {
    //width: 289px;
    width: 100%;
    //margin: 0 16px;
    
    height: 141px;
    .image-button-layout {
      min-height: 132px;
      padding: 8px;

      &:hover,
      &:focus,
      &:active {
        cursor: pointer;
      }

      .border-dot {
        margin: 0px;
        z-index: 999;
      }
    }

    p {
      font-size: $font-xxsm;
      color: $battleship-grey;
    }
  }
}
