// Colors
$dark: #141423;
$azure: #08aeea;
$heliotrope: #cf5fe4;
$amethyst: #a652d5;
$melon: #ff8d5c;
$dark-two: #1b2031;
$pale-grey: #f5f6f8;
$barney: #9e1394;
$bright-orange: #ff5900;
$tangerine: #ff8f00;
$dark-three: #0d0f18;
$battleship-grey: #6d6f74;
$charcoal-grey-40: #a9acae;

$form-bg: #05091f;

$verylightgray: #cdcdd0;

// pink

$strong-pink: #fe2493;

$warm-pink: #f05e83;


// shades of black

$black: #000000;

$black-50: rgba(0, 0, 0, 0.5);

$black-30:  rgba(0, 0, 0, 0.3);

$black-two: #333333;

$black-10: rgba(0, 0, 0, 0.1);


// shades of yellow

$bright-yellow: #fff300;

$marigold: #ffc000;

// shades of green

$wintergreen: #2af598;

$frog-green: #7bc90e;

$weird-green: #40e67b;

$emerald: #00aa45;

$green: #6dd400;


// shades of blue

$purplish-blue: #6423ff;

$dark-grey-blue: #374163;

$pale-blue: #dde5ec;

$blueberry: #41479b;

$green-blue: #00b29d;

$ocean-blue: #0067b9;

$blueberry-two: #6d4da7;


// shades of purple

$lighter-purple: #8a49ff;

$purpley: #9356df;

$purple: #6e2696;


// shades of red

$light-red: #ff4b55;

$fire-engine-red: #ff0006;

$warn-red: #f85c5a;


// shades of white
$white: #fff;

$white-10: rgba(255, 255, 255, 0.1);

$white: #f5f5f5;

$white-two: #e1e1e1;

$white-40: rgba(255, 255, 255, 0.4);

$very-light-blue: #e9ebee;